body{
    background-color: #212121;
    color: #fff;
}

.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}
.nav-link {
    background-color:olive;
    width: 100%;
    text-align:center;
    padding: 10px 0;
}

.nav-link a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 10px;
}

.nav-link a:hover {
    background-color: #555;
}